# using python3.12.7
coffea
scipy==1.15.3
numba
uproot
awkward
numpy
vector
pandas
correctionlib
onnxruntime
hist
matplotlib
xrootd
fsspec-xrootd
requests
cloudpickle
dbs3-client
rucio-clients
dask_awkward
mplhep
